<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        bootstrap                   = "./bootstrap.php" >
    <php>
        <const name="TEST" value="true"/>
        <server name="HTTP_HOST" value="example.com"/>
        <server name="SERVER_PORT" value="80"/>
        <server name="REQUEST_METHOD" value="TEST"/>
        <request name="id" value="1"/>
        <request name="route" value="index"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory suffix="Test.php">.</directory>
            <directory suffix="Test.php">../class/Module/*/Test</directory>
            <!--<exclude>./web/*</exclude>-->
        </testsuite>
    </testsuites>
</phpunit>