/.idea/
/runtime/
/_build/
/api.zip
/build/release
/test/codeCoverage
/files/.quarantine
/files/.tmb
/thumbs/
/logger.txt
/vendor/*
/static/
/composer.phar
/composer.lock
/app/parameters.yml
