/app/parameters.yml
/bin/*
!bin/console
!bin/pngout
!bin/yuicompressor-2.4.7.jar
/build/release
/runtime/*
/test/codeCoverage
/files/.quarantine
/files/.tmb
/thumbs/*
/vendor/*
/static/*
/composer.phar
/composer.lock
