/api.zip
/app/parameters.yml
!/bin/console
/bin/
/components
/build/release
/_build/
/runtime/
/test/codeCoverage
/files/.quarantine
/files/.tmb
/thumbs/
/vendor/*
/static/
/composer.phar
/composer.lock
