AddDefaultCharset UTF-8

Options +FollowSymlinks
Options -MultiViews
Options -Indexes

php_flag  display_errors            on
php_value error_reporting           15

php_flag    xdebug.auto_trace       on
php_flag    xdebug.remote_enable    on

php_flag session.cookie_httponly    off
php_flag session.use_only_cookies   on

php_value session.name              "sfid"

php_value magic_quotes_gpc          off
php_value register_globals          off

# Protect build file
<Files "build.xml">
    Order allow,deny
    Deny from all
</Files>
#<Directory "/vendor">
#    Order allow,deny
#    Deny from all
#</Directory>
#<Directory "/class">
#    Order allow,deny
#    Deny from all
#</Directory>

RewriteEngine on
RewriteBase /

# На запросы к php файлам кроме программы sxd выводить 404 Not found
#RewriteCond %{THE_REQUEST} !(sxd)
#RewriteRule ^(.*)\.php$ / [L,R=404]

# Переписываем пути, если есть подозрение, что идет обращение к странице сайта
RewriteCond %{REQUEST_FILENAME} !(php)$
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

#RewriteRule ([^\?]*)$ ?route=$1 [L]
RewriteRule ([^\?]*)$ /index.php/$1 [L]
