<?xml version="1.0" encoding="utf-8"?>
<routes>
    <!-- RSS -->
    <route alias="rss">
        <controller>rss</controller>
    </route>

    <!-- SITE MAP -->
    <route alias="sitemap">
        <controller>sitemap</controller>
    </route>

    <route alias="admin" system="1">
        <controller>page</controller>
        <action>admin</action>
    </route>
    <route alias="admin/*" system="1">
        <controller>page</controller>
        <action>admin</action>
    </route>

    <!-- BASKET -->
    <route alias="basket">
        <controller>basket</controller>
    </route>

    <!-- EL FINDER -->
    <route alias="elfinder">
        <controller>elfinder</controller>
    </route>

    <!-- TEST -->
    <route alias="test">
        <controller>test</controller>
        <action>test</action>
    </route>

    <route alias="static/*">
        <controller>static</controller>
        <action>asset</action>
    </route>
</routes>
