parameters:
    sitename: "SiteForeverCMS"

    url:
        rewrite: true

    admin: "admin@ermin.ru"

    cache:
        class: "Sfcms\Cache\CacheBlank"
        livecycle: 0

    db:
        dsn: "mysql:host=localhost;dbname=siteforever"
        login: root
        password: ~
        options:
            1002: "SET NAMES utf8"
        migration: true
        debug: false

    editor: ckeditor
    # editor: tinymce
    # editor: elrte

    language: ru

    logging_handlers: ["@rotating_handler"]

    mailer_transport: sendmail
    pager_template: pager_twbt

