parameters:
    sitename: "SiteForeverCMS"

    url:
        rewrite: true

    admin: "keltanas@gmail.com"

    template:
        theme: basic

    cache:
        class: "Sfcms\Cache\CacheBlank"
        livecycle: 0

    db_name: siteforever
    db_host: localhost
    db_login: root
    db_password: ~
    db_migration: true
    db_debug: true

    editor: ckeditor
    # editor: tinymce
    # editor: elrte

    language: ru

    mailer_transport: sendmail
    mailer_username: ~
    mailer_password: ~
    mailer_host: ~
    mailer_port: ~
    mailer_security: ~
    pager_template: pager_twbt

    email_for_comments: ~
