parameters:
    sitename: "SiteForeverCMS"

    url:
        rewrite: true

    admin: "keltanas@gmail.com"

    template_theme: basic
    template_pager: pager_twbt

    cache:
        class: "Sfcms\Cache\CacheBlank"
        livecycle: 0

    db_name: siteforever
    db_host: localhost
    db_login: root
    db_password: ~
    db_migration: true

    editor: ckeditor
    # editor: tinymce
    # editor: elrte

    language: ru

    mailer_transport: sendmail
    mailer_username: ~
    mailer_password: ~
    mailer_host: ~
    mailer_port: ~
    mailer_security: ~

    email_for_comments: ~

    robokassa_mrch_login: test
    robokassa_merchant_pass1: test1
    robokassa_merchant_pass2: test2
