/*!
 * SiteForeverCMS styles
 */
html, body {
    /*height: 100%;*/
    font: 14px 'Helvetica',sans;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

a {
    color: #247d06;
}
a:hover {
    color: #40df0b;
}

.clear {
    clear: both;
}

ul {
    margin-bottom:1em;
}

abbr {
    font-style:italic;
    border-bottom: 1px dotted #009;
    color: #060;
    cursor: pointer;
}

form {
    margin: 0 15px;
}

.feedback {
    margin-bottom: 10px;
}




body {
    text-align: center;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -70px;
}

body * {
    text-align: left;
}

    .container {
        width: 1000px;
        max-width: 1200px;
        text-align: left;
        margin: 0 auto;
    }

    footer {
        height: 70px;
        width: 1000px;
        max-width: 1200px;
        text-align: left;
        margin: 0 auto;
    }

.captcha-reload {
    border-bottom: 1px #000 dashed;
    cursor: pointer;
}

.b-logo {
    display: block;
    width: 125px;
    height: 65px;
    float: left;
}

.navbar .brand {
    padding: 0;
}
.navbar ul.nav {
    padding: 12px 0;
    white-space: nowrap;
    float: none;
}

.b-menu {
    overflow: hidden;
    margin-left: 150px;
    padding-top: 20px;
}
    .b-menu ul {
        display: block;
        height: 30px;
        padding-left: 10px;
    }

        .b-menu ul li {
            display: block;
            float: left;
            padding: 5px 15px;
            background: url(../images/menu_li.gif) no-repeat 0 50%;
        }
            .b-menu ul li.active a, .b-menu ul li span {
                color: #000;
                text-decoration:none;
            }

    table.b-info-staff td {
        padding: 0 0.5em 0.5em 0;
    }
    table.b-info-staff td.position {
        width: 170px;
    }

    table.b-info-staff td.name {
        width: 150px;
    }


div.b-left-menu {
    margin-bottom: 15px;
}

    div.b-left-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    div.b-left-menu li li {
        padding-left: 20px;
    }
    div.b-left-menu li.active>a {
        color: #000000;
        text-decoration: none;
    }

.b-left-catmenu {
    margin-bottom: 15px;
}
    .b-left-catmenu li {
        padding: 5px 0 5px 30px;
    }
        .b-left-catmenu li li {
            padding: 0 0 0 15px;
        }
    .b-left-catmenu li a.active {
        color: inherit;
        text-decoration: none;
    }


ul.gallery_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    ul.gallery_list li {
        margin: 0 20px 20px 0;
        padding: 0;
        float: left;
        font-size: 1em;
        text-align: center;
        overflow: hidden;
        background: none;
    }

.basket-table td span {
    color: #247D06;
    font-weight: bold;
}
.basket-table .b-catalog-buy-count {
    width: 50px;
}


.b-product-image {
    width: 200px;
    height: 200px;
}
.b-catalog-product-thumb {
    width: 150px;
    height: 150px;
}


div.guestbook_message {
    padding: 10px;
    border: 1px green solid;
    border-radius: 10px;
    margin-bottom: 20px;
}
div.guestbook_answer {
    font-style: italic;
    padding: 10px 10px 0 10px;
}
div.guestbook_title {
    font-style: italic;
    margin-bottom: 15px;
}

.b-catalog-product-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.b-catalog-product-price {
    float: right;
    font-size: 2em;
    margin-bottom: 5px;
}
.b-catalog-product-price .b-product-sale {
    display: block;
    font-size: 14px;
    text-align: right;
}
.b-catalog-product-price .sale,
.b-catalog-product-price .hot,
.b-catalog-product-price .cool {
    color: #FF0000;
}
.b-catalog-product-price .cool {
    color: #0000FF;
}
.b-catalog-product-price .sale {
    color: #333333;
}

.b-product-properties-item,
.b-catalog-product-properties-item {
    margin-bottom: 0.5em;
}
.b-product-properties-key,
.b-catalog-product-properties-key {
    float: left;
    font-weight: bold;
    width: 150px;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
}
.b-product-properties-val,
.b-catalog-product-properties-val {
    margin-left: 100px;
}

#delivery .control-label,
#payment .control-label {
    display: block;
    float: none;
    font-size: 150%;
    text-align: left;
}
#delivery .field-radio,
#payment .field-radio {
    margin: 0 0 20px 0;
}
